<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>To Do List</h1>

    <% if (todos.length >= 1) { %>
      <ul>
        <% for (let todo of todos) { %>
          <li><%= todo.todo %> - <% let result = todo.done ? 'Done' : 'Not Done' %> <%= result %>
          </li>
        <% } %>
      </ul>
    <% } else { %>
      <h3>There are no To Dos yet!</h3>
    <% } %>

    <form action="/" method="POST">
      <input type="text" name="new">
      <input type="submit" value="ADD TO DO">
    </form>
</body>
</html>
